* {
  box-sizing: border-box;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  font-weight: bold;
  text-align: center;
  height: 100%;
  /* awesome job using flexbox! */
}

img {
  border-radius: 50%;
  max-height: 150px;
  padding-top: 10px;
}
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.box1 {
  font-family: 'Londrina Shadow', cursive;
  background: black;
  flex-grow: 1;
  color: #aaaaaa;
  font-size: 1.25em;

}
h1 {
  color: white;
}

footer {
  bottom: 10px;
  color: white;
}

p {
  max-width: 500px;
  background-color: #fff;
  opacity: .75;
}

a:visited {
	color: #cc99ff;
}

li {
  padding-top: 10px;
  list-style-type: none;

}
.box2 {
  color: #000099;
  background: deepskyblue;
  flex-grow: 4;
  background-image: url(http://i.imgur.com/Fi6tibO.jpg);
  /* download above image to prevent 404 in the future */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

ul, menu, dir {
  margin: 0;
  padding: 0;
}
