* {
  box-sizing: border-box;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  font-weight: bold;
  text-align: center;
  height: 600px;
}
img {
  border-radius: 50%;
  max-height: 150px;
  padding: 10px;
}

.box {

}
.box1 {
  font-family: 'Londrina Shadow', cursive;
  background: black;
  flex-grow: 1;
  position: relative;
  color: #aaaaaa;
  font-size: 1.25em;

}
h1 {
  color: white;
}

footer {
  bottom: 10px;
  color: white;
}

li {
  padding: 10px;
  list-style-type: none;

}
.box2 {
  color: blue;
  text-align: center;
  background: deepskyblue;
  flex-grow: 4;
  background-image: url(http://i.imgur.com/Fi6tibO.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}



/* @media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
} */

body {
  padding: 2em;
}
